PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/crisisconnect
JWT_SECRET=crisisconnect_super_secure_jwt_secret_key_2026!
JWT_EXPIRE=30d
PYTHON_AI_SERVICE_URL=http://localhost:8000
CLIENT_URL=http://localhost:5173
DUPLICATE_CHECK_THRESHOLD=0.70
EXPIRY_CRON_INTERVAL_MS=120000
